@tailwind base;
@tailwind components;
@tailwind utilities;


body {

}

.fond {
  background-image: url("./images/fond-page-accueil.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
